SECRET_KEY = '{{ django_secret_key }}'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': '{{ django_db_name }}',
        'USER': '{{ django_db_user }}',
        'PASSWORD': '{{ django_db_password }}',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

ALLOWED_HOSTS = [
{% for domain in django_domains %}
                 "{{ domain }}",
{% endfor %}
]

STATIC_ROOT = '{{ django_static_dir }}'
STATIC_URL = '{{ django_static_url }}'

MEDIA_ROOT = '{{ django_media_dir }}'
MEDIA_URL = '{{ django_media_url }}'